<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745421120355-d45q03764ei54strjag4phlfjstls33h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745421120355-d45q03764ei54strjag4phlfjstls33h</string>
	<key>API_KEY</key>
	<string>AIzaSyC0erzDdd-clqIIguG0uGOmLnSTVI-ExCI</string>
	<key>GCM_SENDER_ID</key>
	<string>745421120355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinic.zeusguard.ZeusGuard</string>
	<key>PROJECT_ID</key>
	<string>zeusguardprivate</string>
	<key>STORAGE_BUCKET</key>
	<string>zeusguardprivate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745421120355:ios:ad8462e9ed37ef17732956</string>
</dict>
</plist>